<launch>
	<master auto = "start"/>
	<node pkg = "rosserial_python" type = "serial_node.py" respawn = "false" name = "serial_node" output="screen" args="_port:=/dev/ttyACM0"/>
	<include file= "$(find ir_sensors)/launch/publish.launch"/>
	<include file = "$(find motion_controllers)/launch/pwm_control.launch"/>	
	<include file = "$(find bb_comparison)/launch/obj_find.launch"/>
	<include file = "$(find localization)/launch/localize.launch"/>
	<include file = "$(find map_tools)/launch/map.launch"/>
	<node pkg = "ras_espeak" type = "espeak_node" respawn = "false" name = "espeak_node" output = "screen"/>
	<node pkg = "logic" type = "behaviour.cpp" respawn = "false" name = "behaviour.cpp" output = "screen"/>
	<node pkg = "wall_follower" type = "wall_follower.cpp" respawn = "false" name = "wall_follower.cpp" output= "screen"/>

</launch>
